<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".TransitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TransitTime">

        <!-- Config Activity -->
        <activity
            android:name=".widget.TransitWidgetConfig"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Widget -->
        <receiver
            android:name=".widget.TransitWidget"
            android:label="Real Time Departures"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="io.github.pranavm716.transittime.ACTION_REFRESH" />
                <action android:name="io.github.pranavm716.transittime.ACTION_CYCLE_DISPLAY_MODE" />
                <action android:name="io.github.pranavm716.transittime.ACTION_TOGGLE_GO_MODE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <!-- Wear OS Data Layer -->
        <service
            android:name=".wear.WearMessageListenerService"
            android:exported="true"
            android:permission="com.google.android.gms.wearable.BIND_LISTENER">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
            </intent-filter>
        </service>

        <!-- WorkManager initializer -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>
